.container {
  min-height: 100vh;
  padding: 4rem 0;

  text-align: center;
}

.title {
  margin: 10px 0;
}

.products{
      /* Use CSS Grid to enforce 3 columns on desktop and 1 column on mobile */
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 30px;
  justify-items: center;
  margin-bottom: 40px;
}

.item {
  display: flex;
  flex-direction: row;
  border: 2px solid var(--border);
  padding: 10px;
  border-radius: 15px;
  text-align: left;
  width: 100%;
}

.name {
  margin: 10px 5px;
}

.oldPrice {
  color: var(--text-secondary);
  font-weight: 600;
  margin: 10px 5px;
}

.back {
  position: absolute;
  left: 20px;
  padding: 10px;
}

.deleteCart{
 margin: 10px;
}