.text{
    width: 100%;
    height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

nav{
    position: fixed;
    width: 100%;
    height: 50px;
    overflow-x: hidden;
    padding-top: 10px;

  /* Use CSS Grid to enforce 3 columns on desktop and 1 column on mobile */
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-items: center;
  margin-bottom: 40px;

  z-index: 2;
}

